.t-container {
  width: 100%;
  min-height: 100vh;
  background-color: #ee6461;
  overflow-x: hidden;
}

.t-hc {
  display: flex;
  flex-direction: row;
}
.t-header {
  color: white;
  color: #07000c;
  font-size: 3rem;
  border-bottom: 2px solid #07000c;
  font-weight: 600;
  padding: 1rem;
  padding-left: 2rem;
  width: 87vw;
  margin-left: 3vw;
}

.t-box {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}
.tr-h {
  color: white;
  font-weight: 700;
  font-size: 5rem;
}

.tr-cont {
  color: #07000c;
  font-size: 1.2rem;
  line-height: 120%;
  width: 70%;
  padding-left: 1rem;
}
.t-row {
  width: 80%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}

.t-right2 {
  width: 10%;
  padding-top: 53vh;
}



.t-right2-c {
  font-size: 8rem;
  transform: rotate(270deg);
  color: #07000c;
  font-weight: 700;
}


.t-logo{
    width: 5rem;
    margin-top: 2rem;
}
.tr-img{
    width: 90%;
    margin-left: 5%;
}